<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>CSS for layout</title>
    <script>var api_port = {{ api_port }};</script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='snow_data_css.css') }}"/>
    <script type ="text/javascript" src ="{{ url_for('static', filename='whistler_javascript.js') }}" defer></script>

    <div class ="home_opener">
        <p>whistler</p>
    </div>

    <div class ="sidebar">
        <a href ="/">Home</a>
        <a href ="/jackson_hole">Jackson Hole</a>
        <a href = "/telluride">Telluride</a>
        <a href = "/snowbird">Snowbird</a>
        <a href = "/whistler">Whistler</a>
    </div>



</head>



<body>

    <div class = "snowfall_rectangle">
        <h2> Historic Snowfall</h2>
        <p>Snowfall From: </p>

        <p>
        Start Date:
        &emsp; &emsp; &emsp; &emsp;

        End Date:

        </p>
        <p>
        <input type = "text" id = "start_day" value="DD" size="5" maxlength = "2">
        <input type = "text" id = "start_month" value="MM" size="5" maxlength = "2">
        <input type = "text" id = "start_year" value="YYYY" size="5" maxlength = "4">
        &emsp; &emsp; &emsp; &emsp;
        <input type = "text" id = "end_day" value="DD" size="5" maxlength = "2">
        <input type = "text" id = "end_month" value="MM" size="5" maxlength = "2">
        <input type = "text" id = "end_year" value="YYYY" size="5" maxlength = "4">
        &emsp;
        <button id = "submit_historic_snowfall">Submit</button>
        </p>
        <p>
        <span id = "historic_snowfall_results"></span>
        </p>
    </div>

    <div class = "forecast_rectangle">
        <h2> 10 Day Forecast</h2>
        <p>Gives a forecast for the next ten days from today predicting snowfall based on historic averages</p>

        <button id = "10_day_button">get forecast</button>
        <p id = "forecast_return"></p>


    </div>
    <div class = "highest_snowfall_in_year_rectangle">
        <h2>Highest Snowfall In Input Year</h2>
        <p>Input year:
        <input type = "text" id = 'snowfall_for_year' value="YYYY" size="5" maxlength = "4">
        <button id = "submit_snowfall_for_year">Submit</button>
        </p>
        <p>
        Results: <span id = "highest_snowfall_in_year_results"></span>
        </p>
    </div>

</body>

</html>
